Source: cxlflash
Maintainer: IBM Corp. <mpvageli@us.ibm.com>
Uploaders: Rodrigo R. Galvao <rosattig@br.ibm.com>
Section: utils
XS-Autobuild: yes
Priority: optional
Standards-Version: 4.0.1
Build-Depends: debhelper (>=10), dh-systemd, doxygen, linux-libc-dev, libudev-dev, libcxl-dev, help2man
Homepage: https://github.com/open-power
Vcs-Browser: https://github.com/open-power/capiflash.git
Vcs-Git: https://github.com/open-power/capiflash.git

Package: cxlflash
Architecture: ppc64 ppc64el
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Conflicts: ibmcapikv
Replaces: ibmcapikv
Description: IBM Capiflash IO Data Engine
 This provides IO and utility support for IBM Capiflash adapters,
 and includes a NoSQL Software Interface. The latest
 adapter firmware updates are provided separately
 in cxlflashimage.
