Source: cxlflash
Maintainer: IBM Corp. <mpvageli@us.ibm.com>
Uploaders: Rodrigo R. Galvao <rosattig@br.ibm.com>
Section: non-free/utils
XS-Autobuild: yes
Priority: optional
Standards-Version: 4.0.1
Build-Depends: debhelper (>=10), doxygen, linux-libc-dev, libudev-dev, lsb-release, libcxl-dev, help2man
Homepage: https://github.com/open-power
Vcs-Browser: https://github.com/open-power/capiflash.git
Vcs-Git: https://github.com/open-power/capiflash.git

Package: cxlflash
Architecture: ppc64 ppc64el
Depends: ${shlibs:Depends}, libudev1, libcxl1, ${misc:Depends}
Conflicts: ibmcapikv
Replaces: ibmcapikv
Description: IBM Data Engine for NoSQL Software Libraries : cxlflash
 Power Systems Edition creates a new tier of memory by attaching up to 57
 Terabytes of auxiliary flash memory to the processor without the latency
 issues of traditional I/O storage.
 While not as fast as DRAM, the latency is within the acceptable limit of
 most applications especially when data is accessed over the network.
 Flash is also dramatically less expensive than DRAM, and helps reduce the
 deployment and operational cost for delivering the customer solution.
 Customers, MSPs, and ISPs all benefit from application of this new
 technology in the NoSQL application space.
 Exploiting hardware and software built-in to IBM's flagship POWER8 open
 architecture means that clients no longer much choose between "big" or
 "fast" for their solutions.

Package: cxlflashimage
Architecture: ppc64 ppc64el
Depends: cxlflash (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: afuimage
Replaces: afuimage
Description: IBM Data Engine for NoSQL Software Libraries : cxlflash afu library
 Power Systems Edition creates a new tier of memory by attaching up to 57
 Terabytes of auxiliary flash memory to the processor without the latency
 issues of traditional I/O storage.
 While not as fast as DRAM, the latency is within the acceptable limit of
 most applications especially when data is accessed over the network.
 Flash is also dramatically less expensive than DRAM, and helps reduce the
 deployment and operational cost for delivering the customer solution.
 Customers, MSPs, and ISPs all benefit from application of this new
 technology in the NoSQL application space.
 Exploiting hardware and software built-in to IBM's flagship POWER8 open
 architecture means that clients no longer much choose between "big" or
 "fast" for their solutions.
 This package provides binaries for the cxlflash afu.
