#!/usr/bin/make -f

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifeq (ppc64el, $(DEB_HOST_ARCH))
  TARGET=PPC64EL
  export TARGET_ARCH_PPC64EL=1
else
  ifeq (powerpc, $(DEB_HOST_ARCH))
    TARGET=PPC64BE
    export TARGET_ARCH_PPC64BE=1
  else
    TARGET="unknown"
  endif
endif

export PWD=$(shell pwd)
export SURELOCKROOT=$(shell pwd)

# Enables block layer to communicate with cxlflash driver built in to the Linux kernel.
ifneq (1, $(BLOCK_FILEMODE_OVERRIDE))
export BLOCK_KERNEL_MC_ENABLED=1
export BLOCK_MC_ENABLED=1
export BLOCK_FILEMODE_ENABLED=0
endif

# PPC64LE - Little-Endian Structures
export TARGET_PLATFORM=$(TARGET)
export USE_ADVANCED_TOOLCHAIN=no
export MAKECMD=make
unexport CUSTOMFLAGS

%:
	dh $@ --with=systemd

override_dh_auto_install:
	dh_auto_install
	# We need to create symlinks for all the libraries we export for use
	# in the -dev package, making sure developers by default build against
	# the newest SOVER.
	(cd $(CURDIR)/pkg/install_root/usr/lib/ && for i in *-*.so; do \
		ln -sf $$i $${i%-*.so}.so; \
	done)

